body {
	font-family: sans-serif;
	color: white;
	font-size: 16px;
	line-height: 1.5;
	background-color: #1f1f1f;
	margin: auto;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 100px #0005;
	z-index: -2;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 800px;
	width: 100%;
	height: 100%;
	padding: 0 20px;
}
.banner-error {
	background-color: rgb(255, 89, 89, 0.75);
	box-shadow: 0 0 45px 0.5px rgba(255, 89, 89, 0.45);
	text-align: left;
	padding: 5px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 1%;

	display: flex;
	align-items: center;
}
.banner-warning {
	background-color: rgba(255, 216, 97, 0.75);
	box-shadow: 0 0 45px 0.5px rgba(255, 216, 97, 0.45);
	text-align: left;
	padding: 5px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 1%;

	display: flex;
	align-items: center;
}
.banner-notice {
	background-color: rgb(107, 154, 255, 0.75);
	box-shadow: 0 0 45px 0.5px rgb(107, 154, 255, 0.45);
	text-align: left;
	padding: 5px;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 1%;

	display: flex;
	align-items: center;
}

.pbtext {
	background: linear-gradient(75deg, #7c85e0, #c738cd);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.counter-container {
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	margin: 0 auto;
}

.counter {
	text-align: center;
}
.counter h2 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.counter p {
	font-size: 48px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

.spinner {
	animation: gamspinner 0.65s ease-in-out infinite;
}
@keyframes gamspinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(90deg); }
}

.livecircle {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-bottom: 1.05px;
	margin-right: 6px;
	border-radius: 50%;
	background-color: rgb(255, 89, 89);
	box-shadow: 0 0 35px 2.5px rgb(255, 89, 89);
	animation: blink 1.5s infinite;
}
.circle {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-bottom: 1.05px;
	margin-right: 6px;
	border-radius: 50%;
}
@keyframes blink {
	50% {
		opacity: 0;
	}
}

.btn {
	display: flex;
	align-items: center;
	
	background-color: #7c85e0;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.btn:hover {
	background-color: #c646ca;
}
.btn-icon {
	margin-right: 10px;
}

.shiny {
	position: relative;
	border: none;
	overflow: hidden;
}
.shiny:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0.45);
	transform: translateX(-100%) skewX(-35deg);
	animation: shiny-swipe 2.5s infinite cubic-bezier(0.04, 0.45, 0.98, 0.51);
}
.red {
	background-color: rgb(255, 89, 89, 0.75);
	box-shadow: 0 0 0px 0.5px rgba(255, 89, 89, 0.45);
	transition: 0.3s ease;
}
.red:hover {
	background-color: rgb(255, 89, 89);
	box-shadow: 0 0 45px 0.5px rgba(255, 89, 89, 0.45);
}
@keyframes shiny-swipe {
	0% {
		opacity: 0;
		width: 10%;
		transform: translateX(-325%) skewX(-35deg);
	}
	50% {
		opacity: 1;
		width: 20%;
		transform: translateX(500%) skewX(-35deg);
	}
	100% {
		opacity: 0;
		width: 10%;
		transform: translateX(1325%) skewX(-35deg);
	}
}
.shiny:hover:before {
	animation-play-state: paused;
	background-color: rgba(255, 255, 255, 0);
	transition: 0.25s;
}

/***************************************** PANEL */

.guild-panel {
	background-color: #2b2b2b;
	border-radius: 12px;
	padding: 10px;
	margin-top: 1%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;

	display: flex;
	align-items: center;
}
.guild-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.guild-button {
	margin-left: auto;
	padding-right: 10px;
}

.status-bar {
	display: inline-block;
	border-left: 5px solid #3a3a3ac2;
	border-radius: 5px;
}
.status-bar-text {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 8.5px;
}
